SERPER_API_KEY=4441e8231daebc2bed8ea9150e2c4472f93543e3 # https://serper.dev/ (free tier)
BROWSERLESS_API_KEY=2UiOMTz0ygOar5Qb838b629d1d08671f508a20eac57aa905f # https://www.browserless.io/ (free tier)
MODEL='openhermes'